
code/__pycache__/*
code/layers/__pycache__/*
checkpoint/*
checkpoints/*
log/*
data_new/*
checkpoint/*
checkpoints/best_DualGCNmodel.h5
checkpoints/MyBestDualGCNModel.h5
*.pyc
test.ipynb
data_new/*
new_data.rar
csa_data/*